<div class="container">
    <div class="m-3">
        <h4>Custom HTML-Tags</h4>

        <label class="form-label">QRCode</label>
        <pre class="border rounded">
            <code>
                &lt;qrcode size="1"&gt;www.my-asset.de/assets/100&lt;/qrcode&gt;
            </code>
        </pre>

        <label class="form-label">Barcode</label>
        <pre class="border rounded">
            <code>
                &lt;barcode width="160" 
                        height="25" 
                        includelabel="true" 
                        fontsize="12" 
                        fontfamily="Arial" 
                        codetype="Code128"&gt;www.my-asset.de/assets/100&lt;/barcode&gt;
            </code>
        </pre>
        <label class="form-label">Supported barcode-standards</label>
        <pre class="border rounded">
            <code>
            @foreach (var item in Enum.GetValues(typeof(BarcodeStandard.Type)))
            {
                @($" - {item}")
                <br />
            }
            </code>
        </pre>
    </div>
    
</div>
