@page "/"
@inject LabelsDBContext dbContext
@inject NavigationManager navigationManager

<div class="container">
    <label>Wählen Sie ein Label aus</label>
    <div class="d-flex flex-wrap">
        @foreach (var item in _labels)
        {
            <button class="btn btn-outline-dark" @onclick="() => OpenLabel(item.Id)">
                @item.Name
                <div class="mb-2">
                    <img class="border" src="@item.ImageBaseString"/>
                </div>
            </button>
        }
    </div>
</div>



@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    
    protected override async Task OnInitializedAsync()
    {
        _labels = await dbContext.Labels.ToListAsync();
    }

    private List<Label> _labels;

    private void OpenLabel(int id)
    {
        navigationManager.NavigateTo($"labeleditor/{id}");
    }
}