@page "/labeleditor"
@page "/labeleditor/{LabelId:int}"
@using HtmlAgilityPack;
@inject IToastService toastService
@inject LabelsDBContext dbContext

<div class="container">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text">Label name</span>
                <input class="form-control" @bind-value="label.Name" placeholder="Label name here" />
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text">Height</span>
                <input class="form-control" @bind-value="label.Height"/>
                <span class="input-group-text">px</span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Width</span>
                <input class="form-control" @bind-value="label.Width"/>
                <span class="input-group-text">px</span>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-success" @onclick="SaveLabel">Save</button>
            <button class="btn btn-primary" @onclick="RenderImage">Reload label</button>
            <button class="btn btn-primary" onclick="PrintImage('@imageDataURL'); return false;">Print as Image</button>
            <button class="btn btn-primary" onclick="PrintPDF('@pdfDataURL'); return false;">Print as PDF</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <div style="display: flex; justify-content: center">
                <div id="PrintDiv" style="border-style: dotted; display: inline-block;">
                    <img id="labelimage" src="@imageDataURL"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="display: flex; justify-content: center">
                <div id="PrintDiv" style="border-style: dotted; display: inline-block;">
                    <embed id="pdfrendered" type="application/pdf" src="@pdfDataURL" width="@label.Width" height="@label.Height"/>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-8">
            <div class="mt-2">
                <StandaloneCodeEditor @ref="_editor" CssClass="monaco-editor-container" ConstructionOptions="EditorConstructionOptions" OnDidChangeModelContent="RenderImage" OnDidInit="RenderImage" />
            </div>
        </div>
        <div class="col-4">
            <AssetSelector @ref="_assetSelector"/>
        </div>
    </div>
</div>

<style>
    .monaco-editor-container {
        height: 700px;
        border: 1px solid gray;
    }
</style>

@code {
    [Parameter]
    public int LabelId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (LabelId > 0)
        {
            var label = await dbContext.Labels.FirstOrDefaultAsync(x => x.Id == LabelId);
            if (label is not null)
            {
                this.label = label;
            }
        }
    }

    private AssetSelector _assetSelector = null!;
    private StandaloneCodeEditor _editor = null!;

    private Label label = new Label()
    {
        HTML = "<div style=\"width: 200px; height: 80px\">\n\n</div>"
    };

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            Language = "html",
            GlyphMargin = true,
            Value = label.HTML
        };
    }

    string imageDataURL = string.Empty;
    string pdfDataURL = string.Empty;

    private async Task RenderImage()
    {
        string html = await _editor.GetValue();
        imageDataURL = HtmlConverterImagePDF.RenderLabel(html, label.Height, label.Width,_assetSelector.JsonFields);
        pdfDataURL = HtmlConverterImagePDF.RenderLabelPDF(html, label.Height, label.Width, _assetSelector.JsonFields);
    }

    private async Task SaveLabel()
    {
        label.HTML = await _editor.GetValue();
        label.ImageBaseString = HtmlConverterImagePDF.RenderLabel(label.HTML, label.Height, label.Width);

        if (dbContext.Labels.FirstOrDefault(x => x.Id == label.Id) != null)
        {
            dbContext.Labels.Update(label);
        }
        else
        {
            dbContext.Labels.Add(label);
        }

        await dbContext.SaveChangesAsync();
    }
}
